header{
    background-color: rgb(0, 14, 14);
    color: rgb(244, 187, 234);
    text-align: center;
}

main{
    background-color: rgb(244, 187, 234);
    color: rgb(1, 6, 20);
    text-align: center;
}

img {
width: 150px;
height: 130px;

}
div {
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    margin: 30px;
}
