header{
    background-color: rgb(11, 105, 105);
    color: rgb(70, 96, 168);
    text-align: center;
}

main{
    background-color: rgb(11, 105, 105);
    color: rgb(70, 96, 168);
    text-align: center;
}