header{
    background-color: rgb(0, 14, 14);
    color: rgb(139, 108, 62);
    text-align: center;
}

main{
    background-color: rgb(70, 96, 168);
    color: rgb(1, 6, 20);
    text-align: center;
}

img {
width: 150px;
height: 130px;

}
